name: CI/CD Pipeline

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
    branches: [main]

jobs:
  continuous-integration:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: contact-book

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

        # Install Python Dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt

        # Build App and Run Application Test
      - name: Build Application and Run unit Test
        run: python run.py & pytest

  continuous-deployment:
    runs-on: ubuntu-latest
    needs: [continuous-integration]
    # if: github.ref == 'refs/heads/main'

    defaults:
      run:
        working-directory: contact-book

    steps:
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: eu-central-1

      - name: Create CodeDeploy Deployment
        id: deploy
        run: |
          # Assuming the Deployment Group is already setup
          aws deploy create-deployment \
            --application-name Dev-deployment \
            --deployment-group-name Dev-deployment-group \
            --deployment-config-name CodeDeployDefault.OneAtATime \
            --github-location repository=${{ github.repository }},commitId=${{ github.sha }}
